{% extends "blog/base.html" %}
{% block content %}
	<form method='get'>
		<label for="search_device"></label>
		<input class="select search_blog" type="text" id="search_blog" name="search_blog"  placeholder="Type your search...">
		<input type="submit" name = "submitted_button" class="btn btn-primary btn-sm mt-1 mb-1" value="Search">
		<span id="clearSearch" style="cursor: pointer; display: none;">&#10006;</span>
	</form>
	<!-- <script>
    $(document).ready(function() {
        var searchInput = $('#search_blog');
        var clearSearch = $('#clearSearch');

        // Show or hide the clear button based on the input value
        searchInput.on('input', function() {
            clearSearch.toggle(!!this.value);
        });

        // Clear the input field when the clear button is clicked
        clearSearch.click(function() {
            searchInput.val('').focus();
            clearSearch.hide();
        });
    });
</script> -->
	{% for post in posts%}
		<article class="media content-section">
		  <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
		      <small class="text-muted">{{ post.date_posted|date:"d F Y f A T" }}</small>
		    </div>
		    <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>

	{% endfor %}
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1&search_blog={{ searched_blog }}">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}&search_blog={{ searched_blog }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
			  <a class="btn btn-info mb-4" href="?page={{ num }}&search_blog={{ searched_blog }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
			  <a class="btn btn-outline-info mb-4" href="?page={{ num }}&search_blog={{ searched_blog }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}&search_blog={{ searched_blog }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}&search_blog={{ searched_blog }}">Last</a>
		{% endif %}
	{% endif %}
{% endblock content %}
