{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label class="reset" for="username">Username:</label>
                <input class="reset" type="username" id="username" name="username" required>
            </div>
            <div>
                <label class="reset" for="code">Enter Code:</label>
                <input class="reset" type="code" id="code" name="code" required>
            </div>
            <button class="btn btn-outline-info" type="submit">Reset Password</button>
        </form>
    </div>
{% endblock content %}