{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            
            <div>
                <label class="reset" for="username">Your Username:</label>
                <input class="reset" type="username" id="username" name="username" required>
            </div>
            <div>
                <label class="reset" for="password">New Password: </label>
                <input class="reset" type="password" id="password" name="password" required>
            </div>
            <button class="btn btn-outline-info" type="submit">Request Code to Password Reset</button>
        </form>
    </div>
{% endblock content %}



