{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% block content %}
    <div class="content-section">
      <div class="media">
        <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>

      <section class="bio">
        <h2>Bio</h2>
        <p>{{ user.profile.bio }} </p>
      </section>

      <section class="social-links mb-4">
        <h2>LinkedIn Link</h2>
        <ul>
            <!-- <li><a href="https://twitter.com/johndoe" target="_blank">Linkedin</a></li> -->
            {% if user.profile.linkedin %}
                <li><a href="{{ user.profile.linkedin }}" target="_blank">LinkedIn</a></li>
            {% else %}
                <p>No link available.</p>
            {% endif %}
        </ul>
      </section>

      <section class="update-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 ">Profile Info</legend>
                {{ u_form|crispy }}
                {{ p_form|crispy }}
                <!-- {{ p_form.linkedin|add_class:"limited-height-textfield" }} -->
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
      </section>
    </div>
{% endblock content %}
